<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kewen.hms.mapper.LessonMapper">
    <!-- 显示所有学生信息 -->
    <select id="findLessons" resultType="Lesson">
        select *
        from lesson
    </select>
    <!-- 登录查询 -->
    <select id="findLessonById" parameterType="int" resultType="String">
        select l_name
        from lesson
        where l_id = #{c_id}
    </select>
    <!-- 根据名字查询学生信息 -->
    <select id="findLessonByName" parameterType="String" resultType="Lesson">
        select *
        from lesson
        where l_name like concat("%", #{s_name}, "%")
    </select>
    <!-- 修改学生信息 -->
    <update id="updateLesson" parameterType="Lesson">
        update lesson
        set l_name = #{l_name}
        where l_id = #{l_id}
    </update>
    <!-- 添加信息 -->
    <insert id="addLesson" parameterType="Lesson">
        insert into lesson (l_name)
        values (#{l_name})
        <selectKey keyProperty="l_id" order="AFTER" resultType="int">
            select  last_insert_id()
        </selectKey>
    </insert>
    <!-- 根据id删除信息 -->
    <delete id="deleteLesson" parameterType="int">
        delete
        from lesson
        where l_id = #{c_id}
    </delete>
</mapper>