<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kewen.hms.mapper.QuestionMapper">

    <!-- 显示所有学生信息 -->
    <select id="findQuestions" resultType="cn.kewen.hms.pojo.Question">
        select question.*, student.s_name, teacher.t_name
        from question
        left join teacher on teacher.t_id = question.t_id
        left join student on student.s_id = question.s_id
        where 1= 1
        <if test="title != null and title!=''">
            and question.title like concat("%",#{title},"%")
        </if>
    </select>

    <!-- 根据账号查询学生信息 -->
    <select id="findQuestionById" parameterType="int" resultType="cn.kewen.hms.pojo.Question">
        select *
        from question
        where question_id = #{c_id}
    </select>

    <!-- 添加信息 -->
    <insert id="addQuestion" parameterType="Question">
        insert into question(t_id, s_id, type, send_date)
        values (#{s_id}, #{type}, now())
        <selectKey keyProperty="question_id" order="AFTER" resultType="int">
            select last_insert_id()
        </selectKey>
    </insert>
    <!-- 根据id删除信息 -->
    <delete id="deleteQuestion" parameterType="int">
        delete
        from question
        where question_id = #{c_id}
    </delete>

    <update id="answerQuestions">
        update question
        set t_id           = #{t_id},
            answer_date    = now(),
            answer_content = #{answer_content}
        where question_id = #{question_id}
    </update>
</mapper>