<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kewen.hms.mapper.ResourceMapper">

    <!-- 显示所有学生信息 -->
    <select id="findResources" resultType="cn.kewen.hms.pojo.Resource">
        select resource.*,
               (case
                    when teacher.t_name is null then admin.a_name
                    else teacher.t_name end) as r_tname
        from resource
                 left join teacher on teacher.t_id = resource.r_tid
                 left join admin on admin.a_id = resource.r_tid
    </select>

    <!-- 根据账号查询学生信息 -->
    <select id="findResourceById" parameterType="int" resultType="cn.kewen.hms.pojo.Resource">
        select *
        from resource
        where r_id = #{c_id}
    </select>

    <!-- 添加信息 -->
    <insert id="addResource" parameterType="Resource">
        insert into resource( r_name, r_message, r_file_name, r_file_path, r_time, r_tid)
        values (#{r_name}, #{r_message}, #{r_file_name}, #{r_file_path}, now(), #{r_tid})
        <selectKey keyProperty="r_id" order="AFTER" resultType="int">
            select last_insert_id()
        </selectKey>
    </insert>
    <!-- 根据id删除信息 -->
    <delete id="deleteResource" parameterType="int">
        delete
        from resource
        where r_id = #{c_id}
    </delete>

</mapper>