<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kewen.hms.mapper.StudentMapper">
    <!-- 显示所有学生信息 -->
    <select id="findStudents" resultType="Student">
        select *
        from student
    </select>
    <!-- 登录查询 -->
    <select id="findPwdById" parameterType="int" resultType="String">
        select s_pwd
        from student
        where s_id = #{s_id}
    </select>
    <!-- 根据名字查询学生信息 -->
    <select id="findStudentByName" parameterType="String" resultType="Student">
        select *
        from student
        where s_name = #{s_name}
    </select>
    <!-- 根据账号查询学生信息 -->
    <select id="findStudentById" parameterType="int" resultType="Student">
        select *
        from student
        where s_id = #{s_id}
    </select>
    <!-- 修改学生信息 -->
    <update id="updateStudent" parameterType="Student">
        update student
        set s_number = #{s_number},
            s_pwd    = #{s_pwd},
            s_name   = #{s_name}
        where s_id = #{s_id}
    </update>
    <!-- 添加信息 -->
    <insert id="addStudent" parameterType="Student">
        insert into student (s_pwd, s_name)
        values (#{s_pwd}, #{s_name})
    </insert>
    <!-- 根据id删除信息 -->
    <delete id="deleteStudent" parameterType="int">
        delete
        from student
        where s_id = #{s_id}
    </delete>
</mapper>